test_repository/src/main/mule/test_repository.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eff1190d-ad77-4c50-92e7-52ea73c119f2" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="test_repositoryFlow" doc:id="9cbf089e-5334-4caf-a559-6bfd0bb82869" >
		<http:listener doc:name="Listener" doc:id="71d85baf-c267-48cb-9689-a11753dff927" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="5bda6b1c-5a4f-4b0c-b20e-b0374f4eeae9" message='"hello"'/>
		<logger level="INFO" doc:name="Logger" doc:id="c0d59528-069e-4dee-9d79-f008f20cad0c" message="#[payload]"/>
	</flow>
</mule>
